@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-primary: rgb(99,91,255);
  --bs-secondary: #14E9E2;
}
.bg-brimary{
  background: var(--bs-primary);
}
.bg-secondary{
  background: var(--bs-secondary);
}
.text-brimary{
  color: var(--bs-primary);
}
.text-secondary{
  color: var(--bs-secondary);
}

 